@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.skills {
  font-family: "Ubuntu Mono", monospace;
  font-size: 1.3rem;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 6rem;
  color: white;
  background-color: rgba(0, 194, 253, 1);
  list-style-type: none;
  &__title {
    border: 5px double white;
    // border-bottom: none;
    background-color: black;
    padding: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 1;
    transition: 1000ms;
    & h3{
      padding: 0;
      margin: 0;
    }
  }
  &-container {
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: 1000ms;
    &__frontend {
      border: 5px double white;
      // border-top-left-radius: 10px;
      background-color: black;
      padding: 1rem;
      height: 100%;
    }
    &__backend {
      border: 5px double white;

      background-color: black;
      padding: 1rem;
      height: 100%;
    }
    &__techs {
      border: 5px double white;
      background-color: black;
      padding: 1rem;
      border-top-right-radius: 10px;
      height: 100%;
    }
  }
  &-down{
    margin: 0;
    padding: 0;
    cursor: pointer;
    height: 4rem;
    width: 4rem;
    background-color: black;
    border-radius: 50%;
    width: var(--logo-size);
    height: var(--logo-size);
    border-radius: 100%;
    position: absolute;
    top: 98rem;
    left: calc(50% - var(--logo-size) / 2);
    animation-name: bounce;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    animation-iteration-count: infinite;
  }
}
:root {
  --drop-height: 50px;
  --logo-size: 4rem;
  --offset: 2rem;
  --shadow-height: 8px;
}

@keyframes bounce {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(var(--drop-height)) scale(1, 0.7);
  }
}

.skills header{
  text-align: center;
}

.skills li{
  text-align: left;
}

.skills ul{
  padding-left: 0.5rem;
  // margin-left: 0;
  list-style-type: none;
  text-align: left;
}

.skills__title--hidden, .skills-container--hidden{
  display: none;
}

.hidden{
  display: none;
}

@media screen and(min-width: 690px){
  .skills{
    background-color: transparent;
    height: 100vh;
    padding-top: 1.5rem;
    &-title{
      border: 5px double white;
      border-bottom: none;
      background-color: black;
      padding: 1rem;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      margin-top: 0;
    }
    &-container{
      flex-direction: row;
      &__frontend {
        border: 5px double white;
  
        border-top-left-radius: 10px;
        background-color: black;
        padding: 1rem;
      }
    }
  }
}
@media screen and(min-width: 800px){

}