@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.about {
  font-family: 'Ubuntu Mono', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-top: 6rem;
  background-color: transparent;
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    box-shadow: 1px 0px 5px 5px rgba(255, 255, 255, 0.5) inset;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-bottom: 10rem;
  }
  &-pic {
    margin: 2rem 3rem 2rem;
  }
  &-pic > img {
    border-radius: 50%;
    max-width: 150px;
  }
  &-text {
    padding: 2rem 2rem 2rem;
    text-align: center;
  }
  &-down {
    margin: 0;
    padding: 0;
    cursor: pointer;
    height: 4rem;
    width: 4rem;
    background-color: black;
    border-radius: 50%;
    width: var(--logo-size);
    height: var(--logo-size);
    border-radius: 100%;
    position: absolute;
    bottom: var(--offset);
    left: calc(50% - var(--logo-size) / 2);
    animation-name: bounce;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    animation-iteration-count: infinite;
  }
}
:root {
  --drop-height: 50px;
  --logo-size: 4rem;
  --offset: 2rem;
  --shadow-height: 8px;
}

@keyframes bounce {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(var(--drop-height)) scale(1, 0.7);
  }
}

@media screen and(min-width: 690px){
  .about{
    margin-top: auto;
    &-container{
      flex-direction: column;
    }
    &-pic {
      margin: 2rem 2rem 2rem;
    }
  }
}
@media screen and(min-width: 800px){
  .about{

    &-container{
      flex-direction: row;
      width: 70%;
    }
  }
}
