@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.navbar {
  font-family: 'Russo One', sans-serif;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  height: 80px;
  top: 0;
  min-width: 100%;
  position: sticky;
  z-index: 1;
  box-shadow: 1px 9px 21px 0px rgba(255,243,243,0.75);
  opacity: 0.9;
  transition: 500ms;
  margin: 0;
  padding: 0;
  &:hover{
    opacity: 1;
  }
  &__logo {
    align-self: center;
    max-height: 80px;
    color: white;
    cursor: pointer;
    margin-left: 1rem;
    transition: 500ms;
    &:hover {
      border-radius: 50px;
      background-color: rgba(104, 104, 104, 0.556);
      transition: 500ms;
    }
  }
  &--scrolled{
    background: rgb(0, 0, 0);
    opacity: 0.5;
    transition: 500ms;
  }
  &-right{
    margin: 0.65rem;
    margin-right: 1rem;
  }
  &-right>a{
   &:hover{
    fill: blue
   }
  }
  &-middle{
    margin: 1rem;
    font-size: 2rem;
  }
  &-middle>a{
    text-decoration: none;
    color: white;
    margin: 1rem;
    transition: 500ms;
    cursor: pointer;
    &:hover{
      color: rgba(0, 194, 253, 1);
      transition: 500ms;
    }

  }
}

.navbar-mobile{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  color: white;
  height: 70px;
  width: 100vw;
  background-color: black;
  box-shadow: 1px 9px 21px 0px rgba(255,243,243,0.75);
  padding: 0;
  margin: 0;
  font-size: 3rem;
  &__icon{
    text-align: center;
    height: 70px;
    margin-top: 1rem;
    cursor: pointer;
  }
}
.navbar-test{
  height: 100vh;
}

@media screen and(min-width: 690px){
  .navbar{
    display: flex;
  }
}
