@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.timeline-fakebox{
  height: 80px;
}
.timeline{
  background-color: black;
  padding-left: 0;
  margin-left: 0;
  max-width: 100%;
}
.vertical-timeline-element {
  font-family: 'Ubuntu Mono', monospace;
  color: rgb(148, 148, 148);
  margin-bottom: 7rem;
  // margin-top: 7rem;
  padding: 0.1rem;
  transition: 500ms;

  &-content {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 0px 5px 5px rgba(255, 255, 255, 0.5) inset;
    padding: 0.3rem;
    background-color: rgb(0, 0, 0);
    transition: 500ms;
    &:hover{
      color: white;
      transition: 500ms;
    }
  }
  &-title {
    text-align: left;
    margin-bottom: 1rem;
    width: 100%;
    text-decoration: underline;
  }
  &-desc {
    text-align: left;
    padding: 0.2rem;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
  }
  &-image {
    max-width: 200px;
    max-height: 100px;
    align-self: center;
  }
  &-techs {
    display: flex;
    margin: 0;
    margin-bottom: 0.5rem;
    padding: 0;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 100%;
    overflow: hidden;
    &__title {
      text-align: left;
      padding: 0;
      margin: 0;
    }
    &__button {
      border: 3px solid rgba(0, 228, 239, 1);;
      box-shadow: 1px 0px 1px 1px rgba(0, 0, 0, 0.5) inset;
      // background-color: rgba(0, 228, 239, 1);
      border-radius: 10px;
      padding: 0;
      margin: 0.3rem;
      max-height: 40px;
      &--text {
        padding: 0.2rem;
        margin: 0.2rem;
      }
    }
  }
}

.vertical-timeline-element--work {
  max-height: 400px;
}
.thumbnail iframe {
  width: 1440px;
  height: 900px;
}

.thumbnail {
  max-height: 250px;
  position: relative;
  -ms-zoom: 0.25;
  -moz-transform: scale(0.25);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.25);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.25);
  -webkit-transform-origin: 0 0;
}

@media screen and(min-width: 1170px){
  .timeline{
    width: 100%;
  }
  .vertical-timeline-element {
    &-image {
      max-width: 400px;
      max-height: 200px;
      align-self: center;
    }
  }
}