@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');


.vertical-timeline-element{
  font-family: 'Roboto', sans-serif;
  color: rgb(51, 51, 51);
  margin-bottom: 7rem;
  padding: 0.1rem;
  &-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 1px 0px 5px 5px rgba(0,0,0,0.5) inset;
    padding: 0.1rem;
  }
  &-title{
    text-align: left;
    margin-bottom: 1rem;
    width: 100%;
    text-decoration: underline;
  }
  &-desc{
    text-align: left;
    padding: 0.2rem;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
  }
  &-image{
    max-width: 400px;
    max-height: 200px;
  }
  &-techs{
    display: flex;
    margin: 0;
    margin-bottom: 0.5rem;
    padding: 0;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 100%;
    &__title{
      text-align: left;
      padding: 0;
      margin: 0;
    }
    &__button{
      border: 1px solid grey;
      box-shadow: 1px 0px 1px 1px rgba(0,0,0,0.5) inset;
      background-color: lightcyan;
      border-radius: 10px;
      padding: 0;
      margin: 0.3rem;
      max-height: 40px;
      &--text{
        padding: 0.2rem;
        margin: 0.2rem;
      }

    }
  }
  &-footer{
    &__link:hover{
      background-color: white;
    }
  }
}

.vertical-timeline-element--work{
  max-height: 400px;
}
.thumbnail iframe {
  width: 1440px;
  height: 900px;
}

.thumbnail {
  max-height: 250px;
  position: relative;
  -ms-zoom: 0.25;
  -moz-transform: scale(0.25);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.25);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.25);
  -webkit-transform-origin: 0 0;
}
