.footer {
  display: none;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  box-shadow: 1px 9px 21px 0px rgba(255,243,243,0.75);
  &-container {
    &__header {
      text-align: center;
    }
  }
  &-container ul {
    padding-left: 0.5rem;
    // margin-left: 0;
    text-align: left;
  }
  &-container li {
    padding-left: 0.5rem;
    // margin-left: 0;
    text-align: left;
  }
}

@media screen and(min-width: 690px){
  .footer{
    display: flex;
  }
}
