body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: black
}
@media screen and (min-width: 690px) {
  body {
    background: url('https://miro.medium.com/max/3840/1*PyExFMlUFx1Yv_28Nd1BRA.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
